.NavMenu .Header{
    background:var(--ThemeColor);
}
.FloatMenuBtn{
    position: fixed;
    z-index: 10000;
    margin: auto 20px 70px auto;
    bottom: 0;
    right: 0;
    height: 40px;
    width: 40px;
    background: #fff;
    box-shadow: 0 0 5px #888;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    cursor: pointer;
    color: #888;
    user-select: none;
}
.FloatMenuBtn:active,
.FloatMenuBtn.Active{
    background: #eee;
}
.FloatMenuBtn::before{
    content: "";
    content: "";
    font-family: Symbol;
}
.FloatMenu{
    user-select: none;
    position: fixed;
    z-index: 10000;
    margin: auto 15px 120px auto;
    bottom: 0;
    right: 0;
    display: none;
}
.FloatMenuBtn.Active+.FloatMenu{
    display:block;
}
@keyframes MenuShow{
    0%{
        opacity: 0.3;
        transform: scale(0.2);
    }
    70%{
        opacity: 1;
        transform: scale(1.2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.FloatMenu>.FloatMenuItem{
    cursor: pointer;
    display: block;
    width: 140px;
    border-radius: 20px;
    line-height: 40px;
    padding: 0 20px 0 0;
    margin-bottom: 10px;
    color: #555;
    position: relative;
    box-shadow: 0 4px 12px #888;
    animation: MenuShow 0.3s ease-in-out;
    transform-origin: bottom right;
    background: rgb(255,255,255);
    overflow-y: visible;
    text-overflow: ellipsis;
    word-break: none;
    white-space: nowrap;
    font-size: 13px;
}
.FloatMenu>.FloatMenuItem:active{
    background: #f8f8f8;
}
.FloatMenu>.FloatMenuItem:active>.Icon{
    background: #fff;
}
.FloatMenu>.FloatMenuItem:last-child::after{
    content: " ";
    width: 0;
    height: 0;
    border:solid 8px;
    border-color: #fff transparent transparent transparent;
    display: block;
    position: absolute;
    right: 20px;
    bottom: -14px;
}
.FloatMenu>.FloatMenuItem>.Icon{
    background: #f8f8f8;
    border-radius:50%;
    height: 30px;
    width: 30px;
    font-size: 15px;
    margin: 5px; 
    font-family: Symbol,微软雅黑;
    display: inline-block;
    vertical-align: middle;
    color:var(--ThemeColor);
    text-align: center;
    line-height: 30px;
}
.FloatMenu>.FloatMenuItem>.Text{
    vertical-align: middle;
}


@media(min-width:768px){
    .FloatMenuBtn,.FloatMenu{
        display: none !important;
    }
}