/*
内容：弹出窗统一样式
*/

.UIPop{
    position: fixed;
    margin: 40px auto auto auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    border: 1px solid #eee;
    width: 250px;
    height: 40px;
    box-shadow: 0 0 3px #888;
    vertical-align: middle;
    display: table;
    padding: 4px 8px;
    color: #888;
    z-index: 9999;
    text-align: center;
}
.UIPop>.Icon{
    vertical-align: middle;
    font-family: "Symbol";
    font-size: 24px;
    line-height: 1em;
}
.UIPop[poptype='1']>.Icon::before{
    content: "";
    color: #4b0;
}
.UIPop[poptype='2']>.Icon::before{
    content: "";
    color: #cc0;
}
.UIPop[poptype='0']>.Icon::before{
    content: "";
    color: #4bf;
}
.UIPop[poptype='-1']>.Icon::before{
    content: "";
    color: #b40;
}
.UIPop *{
    vertical-align: middle;
    display: table-cell;
}
.UIPop>*:nth-child(1){
    width: 50px;
    max-width: 50px;
    text-align: center;
    padding-right: 4px;
}
.UIPop>*:nth-child(2){
    padding-right: 30px;
}

.PopDialog{
    font-size: 13px;
    position: fixed;
    margin: auto;
    background: #f5f5f5;
    box-shadow: 0 0 15px #aaa;
    z-index: 9998;
    padding-top: 46px;
}
.PopDialog.Active{
    transform: scale(1);
    border-radius:5px; 
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}
.PopDialog:not(.Active){
    display: block;
    transform: scale(0);
    overflow: hidden;
    border-radius:50% 0 50% 50%; 
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}
.PopDialog>.Title{
    background: #fff;
    user-select: none;
    color: #888;
    font-size: 16px;
    border-bottom:1px solid #eee;
    line-height: 44px;
    font-weight:100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding-left: 13px;
    border-radius:5px 5px 0 0; 
}
.PopDialog>.Title:empty{
    display: none;
}
.PopDialog>.Content{
    line-height: 1.6em;
    overflow-y: auto;
    height: 100%;
    padding: 1em;
}
.PopDialog>.Title>.Close{
    float: right;
    font-family: Symbol;
    vertical-align: top;
    padding: 0 1.1em;
    border-radius:0 5px 0 0; 
}
.PopDialog>.Title>.Close:hover{
    background: #c00;
    color: #fff;
}
.PopDialog>.Title>.Close:active{
    color: #c00;
    background:transparent;
}
.PopDialog>.Title>.Close::before{
    content: "";
    font-size: 11px;
    padding: 0.2em;
}
@media(min-width:768px){
    .PopDialog{
        top:0;
        bottom: 0;
        right: 0;
        left: 0;
        max-width: 80% !important;
        max-height: 80% !important;
        transform-origin: right top;
    }
}
@media(max-width:768px){
    .PopDialog{
        top:1%;
        right: 1%;
        left: 1%;
        max-width: 98% !important;
        max-height: 98% !important;
        transform-origin: left top;
    }
}